<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>自定义指令中双向绑定=</title>
    <script src="../frameworks/angular-1.4.0/angular.min.js"></script>
    <script src="../frameworks/angular-1.4.0/angular-sanitize.min.js"></script>
    <script>
        var app = angular.module("app",["ngSanitize"]);
        app.controller("oneCtrl",function ($scope) {
            $scope.msg = "oneCtrl's value";
        });
        app.directive("firstDt",function () {
            return {
                restrict:"AE",
                scope:{
                    msg:"="
                },
                //改变的是自定义指令中msg属性的值，改成了一个变量{{msg}}当外部改变的时候也能改变内部，但是当内部改变的时候只能改变内部
                template:"<h2>hello world 自定义标签的msg {{msg}}</h2><input type='text' ng-model='msg'>"
            }
        });
    </script>
</head>
<body>
<div ng-controller="oneCtrl">
    <h2>这是自定义标签中的部分依赖，内部依赖外部，外部不依赖内部</h2>
    内部访问：作为标签元素的指令：<first-dt msg="msg"></first-dt><hr>
    外部访问：{{msg}}<br>
    <input type="text" ng-model="msg">
</div>

</body>
</html>